<p class="form">文字列置換対象</p>

<table class="index">
  <tr>
    <th style="width: 60px; text-align: center;">編集</th>
    <th style="width: 300px;">設定名</th>
    <th style="">置換対象</th>
  </tr>

  <% @items.each do |item| %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to :edit, url_for(:action => :edit, :id => item.name) %></td>
    <td><%= item.config_name %></td>
    <td><%= item.value_name || "デフォルト（#{item.default_value_name}）" %></td>
  </tr>
  <% end %>
</table>
